body{
    height: 200vh; /* enough scroll room */
    margin: 0;
    overflow-x: hidden;
}

main{
    margin: 20px;
}

img.logo{
    width: 100%;
    height: auto;
    display: block;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: red;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    justify-content: space-around;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background: orangered;
}

.navbar li{
    float: left;

}

#info {
    color: black;
    size: 15px;
    text-align: center;
}

.spacer {
  height: 100vh;
}

.scroll-img {
  position: fixed;
  top: 30%;
  left: 0;
  width: 150px;
  transition: transform 0.1s ease-out;
  pointer-events: none;
}